html, body{
    height: 100%;
}

.container{
    height: inherit;
}

main{
    min-height: 70%;
}

.logo{
    height: 100px;
    margin-right: 20px;
}

.link{
    text-decoration: none;
    color: inherit;
}

.card-body{
    overflow: hidden;
}

.card{
    height: 235px;
}

.card:hover{
    
    width: 1090px;
    padding: 2px;
}

.card-text{
    max-height: 6ch;
}

.container footer{
    height: 9%;
}

.container footer p{
    font-size: 1.1rem;
}

.container footer a:hover{
    font-size: 1.15rem;
}

#content-top{
    flex-wrap: wrap;
}

#content-top h1{
    width: 100%;
}

#content-top div p{
    margin-right: 30px;
    margin-top: 10px;
    font-size: 1.02rem;
}

section article p{
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding: 0 20px;
    font-size: 1.4rem;
}